@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
    background-color: #110F0F;
}

header{
    background-color: #171717;
    height: 100px;
    width: 100%;
}
h1 {
    margin: 0 50px ; 
    padding: 25px 0 0 0;
}

nav {
    text-align: end;
    padding-right: 40px;
}

.link {
    margin: 0 10px;
    text-decoration: underline;
    font-size: 14px;
}

.link:active {
    color: #01A7C2;
}

.main {
    padding-bottom: 100px;
}

.home {
    display:flex;

}

.contents-main{
    margin: auto;
}

.contents-me {
    text-align: left;
    margin: auto;
    margin-left: 20px;
    margin-top: 100px;
}

strong {
    font-size: xx-large;
    text-shadow: 
        0px 0px 5px white;
}

.profissao {
    margin-top: 5px;
    margin-left: 10px;
    border-top: 1px solid white;
    letter-spacing: 2px;
}

.photo {
    margin: auto;
    margin-top: 70px;
    margin-left: 50px;
    width: 60%;
}

div a{
    text-decoration: none;
    min-width: 100px;
    min-height: 25px;
    margin: 0 10px;
}

.btns {
    width: 100px;
    display: flex;
    align-items: center;
}

.curriculo {
    width: 100px;
    margin: 30px 20px;
    padding-top: 2px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid #01A7C2;
    height: 25px;
    text-align: center;
    font-weight: 700;
}

.curriculo:active {
    background-color: #01A7C2;
}

.visitcard {
    width: 100px;
    margin: 30px 20px;
    padding-top: 2px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid #01A7C2;
    height: 25px;
    text-align: center;
    font-weight: 700;
}

.visitcard:active {
    background-color: #01A7C2;
}

.nextpage {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    width: 150px;
    color: rgb(255, 255, 255);
}

.nextpage:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contents-about {
    margin-bottom: 50px;
    margin-left: 20vw;
    width: 270px;
    border-bottom: 1px solid white;
}

.linha {
    margin: 0 15vw;
    border-bottom: 1px solid white;
}

.linha2 {
    margin: 0 15vw;
    border-bottom: 1px solid white;

}

.big-description {
    display: flex;
    margin: 0 5vw;
}

.main-description {
    background-color: #00000000;
    width:250px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 0 0 17%;
    text-align: justify;
}

.pic {
    width: 190px;
}

.photo-me {
    border-radius: 100px;
    min-width: 90px;
    min-height: 87px;
    max-width: 150px;
    max-height: 130px;
    margin: auto ;
    margin-right: 10vw;
}

.project-title {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #01A7C2;
    border-bottom: 3px solid #01A7C2;
    background-color: white;
    color: black;
    width: 300px;
    border-radius: 15px;
    padding: 3px;
}

.projects {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.contents-project {
    background-color: rgb(255, 255, 255);
    border: 1px solid #01A7C2;
    border-left: 5px solid #01A7C2;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
    width: 320px;
    height: 260px;
    padding: 10px 10px 20px 10px;
    text-align: justify;
    border-radius: 15px;
}

@media only screen and (max-width:680px) {
    .contents-project {
        margin-bottom: 0px;
    }
}

.contents-project:hover {
    height: 320px;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1)2s;
}

.project {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    border-radius: 15px;
}

.project-description {
    max-height: 150px;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn {
    margin: 15px 0;
    color: white;
    background-color: #110F0F;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #01A7C2;
}

.btn:hover {
    background-color: #01A7C2;
}

.svg {
    color: white;
    width: 30px;
}

.contact {
    display: flex;
    margin: 200px 10vw 0 10vw;
    flex-wrap: wrap;
}

.contact-title {
    margin: 0 0 80px 0;
    text-align: left;
}

.contents-contact {
    margin: auto;
    vertical-align: top;
    width: 315px;
    margin-bottom: 60px;
}

.linha3 {
    border-right: 1px solid white;
}

.my-contact {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

.my-contact:hover{
    text-decoration: underline;
    
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}